<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BTL_QuanLiKTX.Properties.Settings.DBQuanLiKTXConnectionString"
            connectionString="Data Source=DESKTOP-9GLF49L\SQLEXPRESS;Initial Catalog=DBQuanLiKTX;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BTL_QuanLiKTX.Properties.Settings.dbQLSVConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\dbQLSV.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BTL_QuanLiKTX.Properties.Settings.QLKTXString" connectionString="Data Source=gyaxxx;Initial Catalog=QLKyTucXa;User ID=sa;Password=nghia123;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>